@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
}
html {
	font-family: 'Montserrat';
}
.nav-link:first-child {
    margin-left: 500px;
}

.nav-link {
    padding-right: 50px !important;
}
.other-companies {
    margin-left:  10%;
}
.poisk {
    margin-bottom: 5%;
}

header {
	background-color: rgb(12 115 254);
	color: white;
}
header a {
	color: white;
}
header a::hover {
	color: white;
}
.nav-link {
	color: white;
}
.main {
	background-color: rgb(12 115 254); 
	padding-bottom: 100px;
	color: white;
}
.main h2 {
	padding-top: 100px;
	font-size: 40px;
}
header img {
	width: 70px;
	height: 20px;
	margin-right: 5px;
}
section {
	padding-top: 20px;
	padding-bottom: 20px;
}
.poisk {
	background-color: rgb(12 115 254);
	
}
.poisk .knopka {
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #ff6f32;
	padding: 12px 12px;
	background-color: #ff6f32;
	border-radius: 10px;
	
}
input {
	padding: 12px 12px;
	border-radius: 10px;
	border: 1px solid white;
	
}
footer {
	background-color: rgb(12 19 29);
	color: white;
}
footer a {
	color: white;
	}
footer .p {
	padding-top: 5px;
}
.podpiska {
	background-color: rgb(12 115 254);	
	color: white;	
}
section {
	
	padding-left: 30px;
	margin: 0 auto;
}
.article {
	font-size: 15px;
}
.doverie img{
	margin-bottom: 10px;
}
.poisk h3 {
	padding-bottom: 20px;
}
.akcii {
	width: 80%;
	margin: 0 auto;
}
.akcii a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #ff6f32;
	padding: 12px 12px;
	background-color: #ff6f32;
	border-radius: 10px;
}
.yznat a {
	margin-left: 580px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #ff6f32;
	padding: 12px 12px;
	background-color: #ff6f32;
	border-radius: 10px;
}
.yznat {
	padding-bottom: 40px;
}
.booking_total input{
	
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #ff6f32;
	padding: 12px 12px;
	background-color: #ff6f32;
	border-radius: 10px;
}
